node_modules
# Keep environment variables out of version control
.env
.env.local

# removing the output that is generated
/dist
/tmp
/out-tsc

# Removing the generated prisma client
libs/models/*/src/lib/prisma/*